<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vaaq.fixmyphone">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FixMyPhone">
        <activity android:name=".UserActivities.CompleteOrderActivity"></activity>
        <activity android:name=".ChatActivity" />
        <activity android:name=".VendorActivities.CompletedOrderVendorActivity" />
        <activity android:name=".VendorActivities.ActiveOrderVendorActivity" />
        <activity android:name=".UserActivities.OrderConfirmationActivity" />
        <activity android:name=".UserActivities.VendorProfileActivity" />
        <activity android:name=".UserActivities.ResponsesActivity" />
        <activity android:name=".VendorActivities.SubmitQuoteActivity" />
        <activity android:name=".VendorActivities.AskQuoteRequestsActivity" />
        <activity android:name=".VendorActivities.DashboardVendorActivity" />
        <activity android:name=".UserActivities.UserProfileActivity" />
        <activity android:name=".UserActivities.QuotesActivity" />
        <activity android:name=".UserActivities.CompletedOrderActivity" />
        <activity android:name=".UserActivities.ActiveOrderActivity" />
        <activity android:name=".UserActivities.GetQuoteActivity" />
        <activity android:name=".UserActivities.DashboardActivity"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".VendorActivities.VendorSignupActivity" />
        <activity android:name=".VendorActivities.VendorLoginActivity" />
        <activity android:name=".UserActivities.UserSignupActivity" />
        <activity android:name=".UserActivities.UserLoginActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>